.gradle/
build/
out/
bin/

.idea/
*.iml
*.ipr
*.iws

.vscode/
.settings/
.classpath
.project

*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar

.DS_Store
Thumbs.db

run/

*.launch

.metadata/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

rebel.xml

*.hprof

*.zip